.filterPrice {
    border: 1px solid var(--grey-color);
    border-radius: 4px;
    width: max-content;
    padding: 10px 0;
    position: relative;

    input {
      max-width: 120px;
      text-align: center;
    }
}

