.container {
  padding: 60px 15%;

  h2 {
    padding-top: 60px;
  }
}

.section {
  margin-bottom: 60px;
}

@media (max-width: 1366px) {
  .container {
    padding: 0 10%;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 10%;
  }
}
